body {
    background: #111111;
    color: #eeeeee;
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 1.2;
    margin: 1.5em 0.5em;
    padding: 0; 
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 0;
}
p {
    margin: 1em 0;
}

fieldset {
    margin: 1em 0 1em;
    padding: 1em;
    outline: 0;
    border: 1px solid #666666;
    border-radius: 4px;
}
legend {
    font-weight: bold;
}
label {
    display: inline-block;
    width: 6em;
    margin-right: 0.5em;
    text-align: right;
}
input, button {
    background: #222222;
    color: #ffffff;
    margin: 0;
    padding: 0.25em 0.5em;
    outline: 0;
    border: 1px solid #666666;
    border-radius: 2px;
    font-size: 1em;
}
button {
    background: #333333;
    width: 80px;
    margin: 0 0.25em;
}


.column {
    margin: 0 auto;
    max-width: 400px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5em 0;
    min-height: 2em;
}



.field-wide {
    flex: auto;
    width: 0;
    min-width: 0;
    overflow: hidden;
}
.field-narrow {
    flex: auto;
    max-width: 80px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.config-message {
    display: none;
    text-align: center;
}
